html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  color:#fff
}

.Navbar {
  background-color: #000000;
  color: #fff;
  padding: 0;
  margin-bottom: 24px;
}

.Navbar .container-xxl {
  padding: 0;
}

@keyframes FadeInButton {
  from {opacity: 0;}
  to {opacity: 1;}
}

.Home_Button {
  background-color: #000000;
  animation: FadeInButton 4.2s cubic-bezier(.53,.54,0,1);
  animation-iteration-count: 1;
}

.Home_Button:focus, .Home_Button:hover {
  color:#fff;
  text-decoration: none;
}

.Home_Logo {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  color: #fff;
}

.Home_Logo:focus, .Home_Logo:hover {
  color: #fff;
  text-decoration: none;
}



.Top_Divider_Logo {
  height: 2px;
  width: 725px;
  background-color: #029680bf;
  border-radius: 90%;
  box-shadow: 0px 0px 10px 2px #31cfb7bf;
}



.navbar-nav:focus .nav-link, .navbar-nav:hover .nav-link {
  color: #767676;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:focus, .nav-link:hover {
  color:#fff !important;
  text-decoration: none;
}



@keyframes SlideUpFromBottom {
  from {padding-top: 100vh;}
  to {padding-top: 0;}
}

#SlideUpFromBottom {
  animation: SlideUpFromBottom 1.6s cubic-bezier(.53,.54,0,1);
  animation-iteration-count: 1;
}

@keyframes FadeInNav {
  from {opacity: 0;}
  to {opacity: 1;}
}

.FadeInNav {
  animation: FadeInNav 6.2s cubic-bezier(.53,.54,0,1);
  animation-iteration-count: 1;
}


/* Hero Content */

.HeroScroll {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.HeroContent {
  color:#000000;
  height: calc(100vh - 169.4px);
  max-height: 100%;
  max-width: 100%;
  background-image: radial-gradient(circle, #f0f1f5, #e9eaee, #e3e4e8, #dcdde1, #d6d7db, #cfd0d4, #c9cace, #c2c3c7, #bababf, #b2b2b6, #aaa9ae, #a2a1a6);
}

.HeroIntroBaseBar {
  height: 2px;
  width: 403.6px;
  background-color: #0a3730bf;
  border-radius: 90%;
  box-shadow: 0px 0px 10px 2px #31cfb7bf;
}